<!-- /views/process_umbrella.erb -->

<h1>Should I take an umbrella?

<p>User location</p>
<dd><%= @loc %></dd>
<p>Latitue</p>
<dd><%= @lat %></dd>
<p>Longitude</p>
<dd><%= @lng %></dd>
<p>Current temperature</p>
<dd><%= @current_temperature %></dd>
<p>Current summary</p>
<dd><%= @currently %></dd>
<p>Umbrella?</p>
<dd><%= @umbrella_or_no %></dd>


<p><a href="/umbrella">Go back</a>
